PORT=4003
MONGO_URI=mongodb://127.0.0.1:27017/order-db
USER_SERVICE_URL=http://localhost:4001
CATALOG_SERVICE_URL=http://localhost:4002
INVENTORY_SERVICE_URL=http://localhost:4005
PAYMENT_SERVICE_URL=http://localhost:4004
NOTIFICATION_SERVICE_URL=http://localhost:4006
